<ul class="products">
  <h2>I seguenti servizi sono disponibili per tutte le categorie di mobili.</h2>

  <% @generalServices.each do |service| %>
      <li class="product">
        <a href="<%= service_path(service) %>">
          <%= image_tag "services/#{service.image_url}", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
          <h3><%= service.name %></h3>
        </a>
      </li>
    <% end %>
</ul>

<ul class="products">
  <h2>I seguenti servizi sono disponibili per alcune categorie di mobili.</h2>

  <% @specificServices.each do |service| %>
      <li class="product">
        <a href="<%= service_path(service) %>">
          <%= image_tag "services/#{service.image_url}", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
          <h3><%= service.name %></h3>
        </a>
      </li>
  <% end %>
</ul>
