<div id="content">

    <div class="post-3215 product type-product status-publish hentry">

      <div class="images">

        <%= image_tag "services/" + @service.image_url, :style => 'width: 300px;', :class => 'attachment-shop_single wp-post-image' %>
        <div class="thumbnails"></div>
      </div>

      <div class="summary">

        <h1 itemprop="name" class="product_title entry-title"><%= @service.name %></h1>

        <div itemprop="description">
          <p><%= @service.description %></p>
        </div>

      </div><!-- .summary -->

      <div class="woocommerce_tabs">
        <ul class="tabs" style="margin:0;">
          <li class="description_tab active"><a href="#tab-description">Modalità</a></li>
        </ul>
        <div class="panel entry-content" id="tab-description" style="display: block;">

          <p><%= raw(@service.procedure) %></p>

        </div>

      </div>

    </div>

  </div>

<div class="clear"></div>

<div class="center">
  <% if(@previous) %><a href="<%= service_path(@previous) %>" class="ka_button small_button small_tealgrey"><span>Servizio precedente</span></a><% end %>
  <a href="<%= services_path %>" class="ka_button small_button small_tealgrey"><span>Vai all'elenco dei servizi</span></a>
  <% if(@next) %><a href="<%= service_path(@next) %>" class="ka_button small_button small_tealgrey"><span>Servizio successivo</span></a><% end %>
</div>