<%= image_tag "services/" + @service.image_url, :class => 'bigicon one_third rounded' %>

<div class="left two_thirds_last">
  <h1><%= raw(@service.name) %></h1>
  <p><%= raw(@service.description) %></p>
</div>

<div class="clear"></div>

<div class="tabs-area ui-tabs ui-widget ui-widget-content ui-corner-all"><ul class="center tabset ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"><li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-" class="tab"><span>Modalità di fruizione del servizio</span></a></li></ul>
  <div id="tab-" class="tab-box ui-tabs-panel ui-widget-content ui-corner-bottom" style="">
    <p><%= raw(@service.procedure) %></p>
    <br class="clear">
  </div>
</div>

<br class="clear">

<div class="center">
  <% if(@previous) %><a href="<%= service_path(@previous) %>" class="ka_button small_button small_tealgrey"><span>Servizio precedente</span></a><% end %>
  <a href="<%= services_path %>" class="ka_button small_button small_tealgrey"><span>Vai all'elenco dei servizi</span></a>
  <% if(@next) %><a href="<%= service_path(@next) %>" class="ka_button small_button small_tealgrey"><span>Servizio successivo</span></a><% end %>
</div>