<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service.name %>
</p>

<p>
  <b>Description:</b>
  <%= @service.description %>
</p>

<p>
  <b>Procedure:</b>
  <%= @service.procedure %>
</p>

<p>
  <b>Image url:</b>
  <%= @service.image_url %>
</p>

<p>
  <b>Type:</b>
  <%= @service.type %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
