<% if @reseller.size == 0 %>
    <div id="error_explanation">
      <div class="message_karma_tealgrey colored_box">
        <p style="font-size:13px;">
          Attenzione, non è stato trovato alcun rivenditore con i parametri di ricerca forniti.<br><br>
          Per effettuare una nuova ricerca clicca <a href="<%= resellers_search_path %>">qui</a>.
        </p>
      </div>
      <br class="clear">
    </div>

<% else %>

<% @reseller.each do |reseller| %>
  <ul class="list">
    <li><a href="<%= reseller_path(reseller) + "?query=#{@query}" %>"><%= reseller.name %></a></li>
    <li><%= reseller.region %></li>
    <li><%= reseller.province %></li>
    <li><%= reseller.address %></li>
  </ul>
<% end %>

<br>

<a href="<%= resellers_search_path %>" class="ka_button small_button small_tealgrey"><span>Nuova Ricerca</span></a>

<% end %>
