<% if @reseller.size == 0 %>
    <div id="error_explanation">
      <div class="message_karma_tealgrey colored_box">
        <p style="font-size:13px;">
          Attenzione, non è stato trovato alcun rivenditore con i parametri di ricerca forniti.<br><br>
          Per effettuare una nuova ricerca clicca <a href="<%= resellers_search_path %>">qui</a>.
        </p>
      </div>
      <br class="clear">
    </div>

<% else %>

<table>
  <tr>
    <th>Nome Rivenditore</th>
    <th>Regione</th>
    <th>Provincia</th>
    <th>Indirizzo</th>
  </tr>

<% @reseller.each do |reseller| %>
  <tr>
    <td><a href="<%= reseller_path(reseller) %>"><%= reseller.name %></a></td>
    <td><%= reseller.region %></td>
    <td><%= reseller.province %></td>
    <td><%= reseller.address %></td>
  </tr>
<% end %>
</table>

<br>

<a href="<%= resellers_search_path %>" class="ka_button small_button small_tealgrey"><span>Nuova Ricerca</span></a>

<% end %>
