<%= image_tag "resellers/" + @reseller.image_url, :class => 'bigicon one_third rounded' %>

<div class="left two_thirds_last">
  <h1><%= @reseller.name %></h1><br>
  <p>Regione: <%= @reseller.region %></p>
  <p>Provincia: <%= @reseller.province %></p>
  <p>Indirizzo: <%= @reseller.address %></p>
  <p>Telefono: <%= @reseller.telephone %></p>
  <p>Email: <%= @reseller.email %></p>
</div>

<br class="clear">

<a href="<%= "/resellers/?query=#{@query}" %>" class="ka_button small_button small_tealgrey"><span>Torna Ai Risultati Della Ricerca</span></a>
<a href="<%= resellers_search_path %>" class="ka_button small_button small_tealgrey"><span>Nuova Ricerca</span></a>
