<div class="one_third">
  <div class="modern_img_frame modern_portrait_thumb">

    <div class="modern_preload_portrait_thumb">
      <a href="/assets/resellers/<%= @reseller.image_url %>" class="attachment-fadeIn" data-gal="prettyPhoto[gal]" style="display: inline;"><img src="/assets/events/<%= @reseller.image_url %>" style="width: 275px; height: 335px;"></a>
    </div>
  </div>

</div>

<div class="two_thirds_last">
  <h1><%= @reseller.name %></h1><br>
  <p>Regione: <%= @reseller.region %></p>
  <p>Provincia: <%= @reseller.province %></p><br>
  <p>Indirizzo: <%= @reseller.address %></p><br>
  <p>Telefono: <%= @reseller.telephone %></p>
  <p>Email: <%= @reseller.email %></p>
</div>

<br class="clear">