<div class="one_third">
    <%= image_tag "resellers/" + @reseller.image_url, :class => 'bigicon rounded' %>
</div>

<div class="center one_third_last">
  <a href="<%= reseller_products_path(@reseller) + "?query=#{@query}" %>" class="ka_button small_button small_tealgrey"><span>Prodotti in vendita</span></a>
  <p>
    <% if(@partners.size!=0)
         @partners.each do |partner| %>
            <a href="<%= partner_path(partner) %>"><%= image_tag "partners/" + partner.image_url, :class => 'rounded thumb' %></a>
    <%  end
       end %>
  </p>
</div>

<div class="one_third">
  <h1><%= raw(@reseller.name) %></h1><br>
  <p>Regione: <%= raw(@reseller.region) %></p>
  <p>Provincia: <%= raw(@reseller.province) %></p>
  <p>Indirizzo: <%= raw(@reseller.address) %></p>
  <p>Telefono: <%= raw(@reseller.telephone) %></p>
  <p>Email: <%= raw(@reseller.email) %></p>
</div>

<br class="clear">

<div><iframe class="fullmap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=it&geocode=&q=<%= URI::escape(@reseller.province + ', ' + @reseller.address) %>&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe></div><br><br>

<div class="center">
  <% if(@previous) %>
      <a href="<%= reseller_path(@previous) + (@query?"?query=#{@query}":"?product=#{@product.id.to_s}") %>" class="ka_button small_button small_tealgrey"><span>Rivenditore precedente</span></a>
  <% end %>
    <a href="<%= '/resellers/' + (@query?"?query=#{@query}":"?product=#{@product.id.to_s}") %>" class="ka_button small_button small_tealgrey"><span>Torna Ai Risultati Della Ricerca</span></a>
  <% if(@next) %>
    <a href="<%= reseller_path(@next) + (@query?"?query=#{@query}":"?product=#{@product.id.to_s}") %>" class="ka_button small_button small_tealgrey"><span>Prossimo rivenditore</span></a>
  <% end %>
</div>
