<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @partner.name %>
</p>

<p>
  <b>Description:</b>
  <%= @partner.description %>
</p>

<p>
  <b>External link:</b>
  <%= @partner.external_link %>
</p>

<p>
  <b>Image url:</b>
  <%= @partner.image_url %>
</p>

<div class="center">
  <% if(@previous) %><a href="<%= partner_path(@previous) %>" class="ka_button small_button small_tealgrey"><span>Partner precedente</span></a><% end %>
  <a href="<%= partners_path %>" class="ka_button small_button small_tealgrey"><span>Vai all'elenco dei partners</span></a>
  <% if(@next) %><a href="<%= partner_path(@next) %>" class="ka_button small_button small_tealgrey"><span>Partner successivo</span></a><% end %>
</div>