<div class="one_third">
  <div class="modern_img_frame modern_three_col_large">

    <div class="modern_preload_three_col_large">
      <a href="/assets/partners/<%= @partner.image_url %>" class="attachment-fadeIn" data-gal="prettyPhoto[gal]" style="display: inline;"><img src="/assets/partners/<%= @partner.image_url %>" style="width: 275px; height: 145px;"></a>
    </div>
  </div>

</div>

<div class="two_thirds_last">
  <h1><%= raw(@partner.name) %></h1>
  <p><%= raw(@partner.description) %></p>

  <div class="center">
    <a href="<%= partner_products_path(@partner) %>" class="ka_button small_button small_tealgrey"><span>Vai ai suoi prodotti</span></a>
    <a target="_blank" href="<%= @partner.external_link %>" class="ka_button small_button small_tealgrey"><span>Vai al sito di <%= @partner.name %></span></a>
  </div>

</div>

<br class="clear">

<div class="center">
  <% if(@previous) %><a href="<%= partner_path(@previous) %>" class="ka_button small_button small_tealgrey"><span>Partner precedente</span></a><% end %>
  <a href="<%= partners_path %>" class="ka_button small_button small_tealgrey"><span>Vai all'elenco dei partners</span></a>
  <% if(@next) %><a href="<%= partner_path(@next) %>" class="ka_button small_button small_tealgrey"><span>Partner successivo</span></a><% end %>
</div>