<div class="center">
    <a href="<%= admin_path %>" class="ka_button small_button small_tealgrey"><span>Vai Al Menu Principale</span></a>
    <a href="<%= new_event_path %>" class="ka_button small_button small_tealgrey"><span>Aggiungi Un Nuovo Evento</span></a>
</div>

<br><br>

<div class="message_karma_tealgrey colored_box">
  <p style="font-size:13px;">
    <%= notice %>
  </p>
</div>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Immagine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
      <tr>
        <td><%= raw(event.name) %></td>
        <td><%= raw(event.description) %></td>
        <td><%= image_tag("events/#{event.image_url}", :class => 'rounded') %></td>
        <td><%= link_to image_tag('_global/show.png', :class => 'ico'), event %></td>
        <td><%= link_to image_tag('_global/edit.png', :class => 'ico'), edit_event_path(event) %></td>
        <td><%= link_to image_tag('_global/delete.png', :class => 'ico'), event, method: :delete, data: { confirm: 'Sei sicuro di voler cancellare questo evento?' } %></td>
      </tr>
  <% end %>
</table>
