<div id="content">
  <h3>Seleziona da questo menu la funzione desiderata:</h3>
  <ul class="list sitemap-list">
    <li><a href="<%= admin_products_path %>">Gestione Prodotti</a></li>
    <li><a href="<%= admin_designers_path %>">Gestione Designers</a></li>
    <li><a href="<%= admin_services_path %>">Gestione Servizi</a></li>
    <li><a href="<%= admin_events_path %>">Gestione Eventi</a></li>
    <li><a href="<%= admin_resellers_path %>">Gestione Rivenditori</a></li>
    <li><a href="<%= admin_partners_path %>">Gestione Partners</a></li>
    <li><a href="<%= admin_contacts_path %>">Gestione Contatti</a></li>
  </ul>
</div>


