<div class="center">
    <a href="<%= admin_path %>" class="ka_button small_button small_tealgrey"><span>Vai Al Menu Principale</span></a>
    <a href="<%= new_product_path %>" class="ka_button small_button small_tealgrey"><span>Aggiungi Un Nuovo Prodotto</span></a>
</div>

<br><br>

<div class="message_karma_tealgrey colored_box">
  <p style="font-size:13px;">
    <%= notice %>
  </p>
</div>
<br class="clear">

<table>
  <tr>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Specifiche Tecniche</th>
    <th>Immagine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @products.each do |product| %>
      <tr>
        <td><%= raw(product.name) %></td>
        <td><%= raw(product.description) %></td>
        <td><%= raw(product.specifications) %></td>
        <td><%= image_tag('products/' + product.image_url, :class => 'rounded') %></td>
        <td><%= link_to image_tag("_global/show.png", :class => 'ico'), product %></td>
        <td><%= link_to image_tag("_global/edit.png", :class => 'ico'), edit_product_path(product) %></td>
        <td><%= link_to image_tag("_global/delete.png", :class => 'ico'), product, method: :delete, data: { confirm: 'Sei sicuro di voler cancellare questo prodotto?' } %></td>
      </tr>
  <% end %>
</table>

