<a href="<%= admin_path %>" class="ka_button small_button small_tealgrey"><span>Vai Al Menu Principale</span></a>
<a href="<%= new_product_path %>" class="ka_button small_button small_tealgrey"><span>Aggiungi Un Nuovo Prodotto</span></a>

<br><br>

<div class="message_karma_tealgrey colored_box">
  <p style="font-size:13px;">
    <%= notice %>
  </p>
</div>
<br class="clear">

<table>
  <tr>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Specifiche Tecniche</th>
    <th>Immagine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.specifications %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Mostra', product %></td>
        <td><%= link_to 'Modifica', edit_product_path(product) %></td>
        <td><%= link_to 'Cancella', product, method: :delete, data: { confirm: 'Sei sicuro di voler cancellare questo prodotto?' } %></td>
      </tr>
  <% end %>
</table>

