<p id="notice"><%= notice %></p>

<% @events.each do |event| %>
    <div class="post-3215 product type-product status-publish hentry">
      <div class="images">
        <a itemprop="image" href="<%= event_path(event) %>"><%= image_tag "events/" + event.image_url, :style => 'width: 180px;' %></a>
      </div>

      <div class="summary">
        <a href="<%= event_path(event) %>"><h1><%= event.name %></h1></a>

        <div itemprop="description">
          <p><%= event.description %></p>
        </div>

      </div>
    </div>
    <br class="clear">
<% end %>
