<div class="one_third">
  <div class="modern_img_frame modern_portrait_thumb">

    <div class="modern_preload_portrait_thumb">
      <a href="/assets/events/<%= @event.image_url %>" class="attachment-fadeIn" data-gal="prettyPhoto[gal]" style="display: inline;"><img src="/assets/events/<%= @event.image_url %>" class="portrait"></a>
    </div>
  </div>

</div>

<div class="two_thirds_last">
  <h1><%= raw(@event.name) %></h1>
  <p><%= raw(@event.description) %></p>
  <ul class="list">
    <li><span class="bold">Data:</span> <%= @event.date %></li>
    <li><span class="bold">Luogo:</span> <%= @event.location %></li>
  </ul>

  <div class="tabs-area ui-tabs ui-widget ui-widget-content ui-corner-all"><ul class="center tabset ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"><li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-" class="tab"><span>Ulteriori informazioni</span></a></li><li class="ui-state-default ui-corner-top"><a href="#tab-1" class="tab"><span>Partners partecipanti</span></a></li><li class="ui-state-default ui-corner-top"><a href="#tab-2" class="tab"><span>Mappa</span></a></li></ul>
    <div id="tab-" class="tab-box ui-tabs-panel ui-widget-content ui-corner-bottom" style="">
      <p><%= raw(@event.extra_notes) %></p>
      <br class="clear">
    </div>
    <div id="tab-1" class="tab-box ui-tabs-panel ui-widget-content ui-corner-bottom" style="">
      <p>
        <% if(@partners.size!=0)
            @partners.each do |partner| %>
                <a href="<%= partner_path(partner) %>"><%= image_tag "partners/" + partner.image_url, :class => 'rounded thumb' %></a>
        <%  end
           else %>
        Nessun partner della nostra Azienda sarà presente a questo evento.
        <% end %>
      </p>
      <br class="clear">
    </div>
    <div id="tab-2" class="tab-box ui-tabs-panel ui-widget-content ui-corner-bottom" style="">
      <div><iframe class="minimap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=it&geocode=&q=<%= URI::escape(@event.location) %>&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe><br></div>
    </div>
  </div>

</div>

<br class="clear">



<div class="clear"></div>

<div class="center">
  <% if(@previous) %><a href="<%= event_path(@previous) %>" class="ka_button small_button small_tealgrey"><span>Evento precedente</span></a><% end %>
  <a href="<%= events_path %>" class="ka_button small_button small_tealgrey"><span>Vai all'elenco degli eventi</span></a>
  <% if(@next) %><a href="<%= event_path(@next) %>" class="ka_button small_button small_tealgrey"><span>Evento successivo</span></a><% end %>
</div>
