<%= form_for @designer, :html => {:class => 'contact-form commentsblock', :name => 'myform'} do |f| %>
  <% if @designer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@designer.errors.count, "error") %> prohibited this designer from being saved:</h2>

      <ul>
      <% @designer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Descrizione" %>
    <%= f.text_area(:description, :size => "40x15") %>
  </div>

  <div class="field">
    <%= f.label "Immagine" %>
    <%= f.file_field :image_url %>
  </div>

    <div class="actions"><br>
      <a href="<%= admin_designers_path %>" class="ka_button small_button small_tealgrey"><span>Annulla</span></a>
      <a href="javascript: document.myform.submit()" class="ka_button small_button small_tealgrey"><span>Salva</span></a>
    </div>
<% end %>
