<div class="one_third_last">
  <div class="modern_img_frame modern_portrait_thumb">
    <div class="modern_preload_portrait_thumb preload">
      <a href="assets/designers/<%= @designer.image_url %>" class="attachment-fadeIn" data-gal="prettyPhoto[gal]" title="" style="display: inline;"><img src="assets/_global/img-zoom-portrait-small.png" style="position: absolute; opacity: 0;"><img src="assets/designers/<%= @designer.image_url %>" class="portrait"></a></div><!-- END preload -->
  </div><!-- END modern_frame -->
</div>

<p>

  <%= raw(@designer.name) %>
</p>
<p>
  <%= raw(@designer.description) %>
</p>

<div class="center">
  <a href="<%= designer_products_path(@designer) %>" class="ka_button small_button small_tealgrey"><span>Vai ai progetti di <%= @designer.name %></span></a>
</div>

<div class="clear"></div>

<div class="center">
  <% if(@previous) %><a href="<%= designer_path(@previous) %>" class="ka_button small_button small_tealgrey"><span>Designer precedente</span></a><% end %>
  <a href="<%= designers_path %>" class="ka_button small_button small_tealgrey"><span>Vai all'elenco dei designers</span></a>
  <% if(@next) %><a href="<%= designer_path(@next) %>" class="ka_button small_button small_tealgrey"><span>Designer successivo</span></a><% end %>
</div>
