<%= form_for @contact, :html => {:class => 'contact-form commentsblock', :name => 'myform'} do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <div class="message_karma_tealgrey colored_box">
        <p style="font-size:13px;">
          Attenzione, non ci hai lasciato tutti i dati necessari, compila tutti i campi e poi inoltra nuovamente la richiesta.<br><br>
          <% @contact.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </p>
      </div>
      <br class="clear">
    </div>
  <% end %>

  <div class="field">
    <label for="name" class="name">Nome <span>(obbligatorio)</span></label>
    <%= f.text_field :name %>
  </div>
  <br class="clear">

  <div class="field">
    <label for="surname" class="surname">Cognome <span>(obbligatorio)</span></label>
    <%= f.text_field :surname %>
  </div>
  <br class="clear">

  <div class="field">
    <label for="email" class="email">Email <span>(obbligatorio)</span></label>
    <%= f.text_field :email %>
  </div>
  <br class="clear">

  <div class="field">
    <label for="message" class="message">Messaggio <span>(obbligatorio)</span></label>
    <%= f.text_area :message %>
  </div>
  <br class="clear">

  <div class="actions">
    <p class='contact-submit'>
      <a href="javascript: document.myform.submit()" class="ka_button small_button small_tealgrey"><span>Invia</span></a>
    </p>
  </div>
<% end %>
