<%= form_for @product, :html => {:class => "contact-form commentsblock", :name => 'myform'} do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this designer from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="field">
    <%= f.label "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Descrizione" %>
    <%= f.text_area(:description, :size => "40x15") %>
  </div>

  <div class="field">
    <%= f.label "Categoria di prodotto" %>
    <%= collection_select :product, :category_id, @categories, :id, :name %>
  </div>

  <div class="field">
    <%= f.label "Designer" %>
    <%= collection_select :product, :designer_id, @designers, :id, :name, {:include_blank => 'Non specificare'} %>
  </div>

  <div class="field">
    <%= f.label "Specifiche Tecniche" %>
    <%= f.text_area(:specifications, :size => "40x10") %>
  </div>

  <div class="field">
    <%= f.label "Immagine" %>
    <%= f.file_field :image_url %>
  </div>

  <div class="actions"><br>
    <a href="<%= admin_products_path %>" class="ka_button small_button small_tealgrey"><span>Annulla</span></a>
    <a href="javascript: document.myform.submit()" class="ka_button small_button small_tealgrey"><span>Salva</span></a>
  </div>
<% end %>
