<% if(@products.size==0) %>
    <h3>Spiacenti, nessun prodotto corrisponde ai parametri desiderati.</h3>
<% else
     i = 0
     @products.each do |product| %>
        <% i = i+1 %>
        <div class="one_fourth<% if(i%4==0) %>_last<% end %>">
          <div class="modern_img_frame modern_four_col_large">

            <div class="modern_preload_four_col_large">
              <a href="<%= @base_link + '/' + product.id.to_s + (@query && @query!='' ? '?query=' + @query : '') %>" class="attachment-fadeIn"><%= image_tag "products/" + product.image_url, :style => 'width: 190px; height: 111px;' %></a></div><!-- END preload -->
          </div><!-- END modern_frame -->


          <div class="portfolio_content">
            <h3><%= product.name %></h3>
          </div><!-- end portfolio_content -->

        </div><!-- end one_fourth -->

    <%    end
          end %>

<br class="clear">

<div class="center">
  <% if(@back) %>
      <a href="<%= @back %>" class="ka_button small_button small_tealgrey"><span><%= @back_text %></span></a>
  <% end %>
  <% if(@gd_link && @gd_text) %>
      <a href="<%= @gd_link %>" class="ka_button small_button small_tealgrey"><span><%= @gd_text %></span></a>
  <% end %>
</div>