<ul class="products">
  <li class="product first">
    <%= image_tag "products/giorno.jpg", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
    <h3>Mobili Giorno</h3>
  </li>
  <li class="product">
    <%= image_tag "products/bagno.jpg", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
    <h3>Mobili Bagno</h3>
  </li>
  <li class="product">
    <%= image_tag "products/divano.jpg", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
    <h3>Divani & Poltrone</h3>
  </li>
  <li class="product last">
    <%= image_tag "products/cucina.jpg", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
    <h3>Cucine</h3>
  </li>
  <li class="product first">
    <%= image_tag "products/tavolo.jpg", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
    <h3>Tavoli</h3>
  </li>
  <li class="product">
    <%= image_tag "products/sedia.jpg", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
    <h3>Sedie</h3>
  </li>
  <li class="product">
    <%= image_tag "products/letto.jpg", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
    <h3>Letti</h3>
  </li>
  <li class="product last">
    <%= image_tag "products/armadio.jpg", :style => "width: 150px; height: 150px; class: attachment-shop_catalog" %>
    <h3>Armadi</h3>
  </li>
</ul>


<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
