<p id="notice"><%= notice %></p>

<div class="main-holder">
  <div id="content">

    <div class="post-3215 product type-product status-publish hentry">

      <div class="images">

        <a itemprop="image" href="" class="zoom" rel="thumbnails" title="laptop-2"><%= image_tag "products/" + @product.image_url, :style => 'width: 300px;', :class => 'attachment-shop_single wp-post-image' %></a>
        <div class="thumbnails"></div>
      </div>

      <div class="summary">

        <h1 itemprop="name" class="product_title entry-title"><%= @product.name %></h1>

      <div itemprop="description">
        <p><%= @product.description %></p>
      </div>


        <div class="product_meta">


          <span class="posted_in">Categoria: <a href=""><%= @product.category %></a></span>

        </div>

      </div><!-- .summary -->

      <div class="woocommerce_tabs">
        <ul class="tabs" style="margin:0;">
          <li class="description_tab active"><a href="#tab-description">Specifiche tecniche</a></li>
        </ul>
        <div class="panel entry-content" id="tab-description" style="display: block;">

          <p><%= raw(@product.specifications) %></p>

        </div>

      </div>

    </div>

  </div>

  <div id="sidebar" class="right_sidebar"><div class="sidebar-widget widget_shopping_cart"><h3>Shopping Cart</h3><!--mfunc woocommerce_mini_cart() --><ul class="cart_list product_list_widget ">


    <li class="empty">No products in the cart.</li>


  </ul><!-- end product list -->

    <!--/mfunc--></div><div class="sidebar-widget widget_product_categories"><h3>Product Categories</h3><ul class="product-categories"><li class="cat-item cat-item-43"><a href="http://themes.truethemes.net/Karma/product-category/tablets">Tablets</a></li>
    <li class="cat-item cat-item-42"><a href="http://themes.truethemes.net/Karma/product-category/speakers">Speakers</a></li>
    <li class="cat-item cat-item-41 current-cat"><a href="http://themes.truethemes.net/Karma/product-category/computers">Computers</a></li>
    <li class="cat-item cat-item-40"><a href="http://themes.truethemes.net/Karma/product-category/audio">Audio</a></li>
  </ul></div></div><!-- END .right_sidebar-->

</div>