<p id="notice"><%= notice %></p>

<div class="main-holder">
  <div id="content">

    <div class="post-3215 product type-product status-publish hentry">

      <div class="images">

        <a itemprop="image" href="" class="zoom" rel="thumbnails" title="laptop-2"><%= image_tag "products/" + @product.image_url, :style => 'width: 300px;', :class => 'attachment-shop_single wp-post-image' %></a>
        <div class="thumbnails"></div>
      </div>

      <div class="summary">

        <h1 itemprop="name" class="product_title entry-title"><%= @product.name %></h1>

      <div itemprop="description">
        <p><%= @product.description %></p>
      </div>


        <div class="product_meta">


          <span class="posted_in">Categoria: <a href=""><%= @category.name %></a></span>

        </div>

      </div><!-- .summary -->

      <div class="woocommerce_tabs">
        <ul class="tabs" style="margin:0;">
          <li class="description_tab active"><a href="#tab-description">Specifiche tecniche</a></li>
        </ul>
        <div class="panel entry-content" id="tab-description" style="display: block;">

          <p><%= raw(@product.specifications) %></p>

        </div>

      </div>

    </div>

  </div>

  <div id="sidebar" class="right_sidebar">
    <div class="sidebar-widget">
      <% @images.each do |image| %>
          <div class="modern_img_frame modern_four_col_large">

            <div class="modern_preload_four_col_large preload">
              <a href="assets/products/<%= image.image_url %>" class="attachment-fadeIn" data-gal="prettyPhoto[gal]" style="display: inline;"><img src="http://themes.truethemes.net/Karma/wp-content/themes/Karma/images/_global/img-zoom-4.png" style="position: absolute; opacity: 0;" alt="Flash Video"><%= image_tag 'products/' + image.image_url %></a></div><!-- END preload -->
          </div>
      <% end %>
    </div>
  </div>

</div>