 <div id="content">

       <div class="modern_img_frame modern_two_col_large left">
         <div class="modern_preload_two_col_large preload">
           <a href="assets/products/<%= @product.image_url %>" class="attachment-fadeIn" data-gal="prettyPhoto[gal]" style="display: inline;"><img src="assets/_global/img-zoom-2.png" style="position: absolute; opacity: 0;"><%= image_tag 'products/' + @product.image_url, :class => 'landscape_big' %></a></div><!-- END preload -->
       </div>

      <div class="left">

        <h1><%= raw(@product.name) %></h1>


        <div>

          <ul class="list">
            <li>Categoria: <a href="<%= category_products_path(@category) %>"><%= raw(@category.name) %></a></li>
            <% if(@designer) %>
                <li>Designer: <a href="<%= designer_path(@designer) %>"><%= raw(@designer.name) %></a></li>
            <% end %>
            <% if(@partner) %>
                <li>Prodotto da: <a href="<%= partner_path(@partner) %>"><%= raw(@partner.name) %></a></li>
            <% end %>
          </ul>
        </div>

        <div class="center">
          <a href="<%= resellers_path + '?product=' + @product.id.to_s %>" class="ka_button small_button small_tealgrey"><span>Rivenditori</span></a>
        </div>

      </div>



   <div class="clear"></div>
   <p><%= raw(@product.description) %></p>

   <div class="tabs-area ui-tabs ui-widget ui-widget-content ui-corner-all"><ul class="tabset ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"><li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-" class="tab"><span>Specifiche tecniche</span></a></li><li class="ui-state-default ui-corner-top"><a href="#tab-1" class="tab"><span>Servizi disponibili</span></a></li></ul>
     <div id="tab-" class="tab-box ui-tabs-panel ui-widget-content ui-corner-bottom" style="">
       <p><%= raw(@product.specifications) %></p>
     <br class="clear"></div>
     <div id="tab-1" class="tab-box ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" style="">
       <% @services.each do |service| %>
        <a href="<%= service_path(service) %>" title="<%= service.name %>"><%= image_tag 'services/' + service.image_url, :class => 'rounded avatar' %></a>
       <% end %>
     <br class="clear"></div>
   </div>

  </div>

  <div id="sidebar" class="right_sidebar">
    <div class="sidebar-widget">
      <% if(@images.size==0) %>
      <p>Spiacenti, per questo prodotto non sono disponibili altre immagini.</p>
      <%   else
         @images.each do |image| %>
          <div class="modern_img_frame modern_four_col_large">

            <div class="modern_preload_four_col_large preload">
              <a href="assets/products/<%= image.image_url %>" class="attachment-fadeIn" data-gal="prettyPhoto[gal]" style="display: inline;"><img src="assets/_global/img-zoom-4.png" style="position: absolute; opacity: 0;"><%= image_tag 'products/' + image.image_url, :style => 'width: 190px; height: 111px;' %></a></div><!-- END preload -->
          </div>
      <% end
      end %>
    </div>
  </div>

 <br class="clear"><br>

 <div class="center">
 <% if(@previous_link) %>
       <a href="<%= @previous_link %>" class="ka_button small_button small_tealgrey"><span>Prodotto precedente</span></a>
 <% end %>
 <% if(@up_link && @up_text) %>
     <a href="<%= @up_link %>" class="ka_button small_button small_tealgrey"><span><%= @up_text %></span></a>
 <% end %>
<% if(@next_link) %>
   <a href="<%= @next_link %>" class="ka_button small_button small_tealgrey"><span>Prodotto successivo</span></a>
<% end %>
 </div>