<!DOCTYPE HTML>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  <title>Home Furniture &amp; Co.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <base href="/">


  <%= javascript_include_tag 'jquery.form.min.js' %>
  <%= javascript_include_tag 'jquery.prettyPhoto.js' %>
  <%= javascript_include_tag 'jquery.cycle.all.min.js' %>
  <%= javascript_include_tag 'truethemes.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.15.custom.min.js' %>


  <link rel="shortcut icon" href="assets/logo.jpg"/>

  <%= stylesheet_link_tag 'droid' %>


</head>
<body class="page page-template">
<div id="tt-wide-layout"><div id="wrapper" >
  <div id="header" >
    <div class="top-block">
      <div class="top-holder">

        <div class="toolbar-left">

        </div><!-- end toolbar-left -->


        <div class="toolbar-right">
          <div class="textwidget">
            <%= link_to 'Area di amministrazione', admin_path %>
          </div>
        </div><!-- end toolbar-right -->

      </div><!-- end top-holder -->
    </div><!-- end top-block -->


    <div class="header-holder">
      <div class="rays">
        <div class="header-area">

          <a href="<%= home_path %>" class="logo"><%= image_tag 'logo.jpg', :class => 'rounded', :style => 'width: 180px;' %></a>

          <nav>
            <ul id="menu-main-nav">
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= categories_path %>"><span><strong>Prodotti</strong><span class="navi-description">I nostri mobili</span></span></a>
                <!--<ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= category_products_path(1) %>"><span>Mobili giorno</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= category_products_path(2) %>"><span>Mobili bagno</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= category_products_path(3) %>"><span>Divani e poltrone</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= category_products_path(4) %>"><span>Cucine</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= category_products_path(5) %>"><span>Tavoli</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= category_products_path(6) %>"><span>Sedie</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= category_products_path(7) %>"><span>Letti</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= category_products_path(8) %>"><span>Armadi</span></a></li>
                </ul>-->
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= designers_path %>"><span><strong>Designers</strong><span class="navi-description">I nostri esperti</span></span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= services_path %>"><span><strong>Servizi</strong><span class="navi-description">Assistenza</span></span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= events_path %>"><span><strong>Eventi</strong><span class="navi-description">Partecipazioni e fiere</span></span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= partners_path %>"><span><strong>Partners</strong><span class="navi-description">Collaborazioni</span></span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= resellers_search_path %>"><span><strong>Rivenditori</strong><span class="navi-description">Showrooms</span></span></a></li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <div id="main"><div class="main-area">

    <div class="tools">
      <div class="holder">
        <div class="frame">


          <h1><%= raw(@title) %></h1>
          <p class="breadcrumb"><%= raw(@breadcrumb) %></p>

        </div>
      </div>
    </div>

    <div class="main-holder">

      <div id="content" class="content_full_width">


        <%= yield %>


      </div>
    </div>
  </div>

    <div id="footer">
      <div class="footer-area">
        <div class="footer-wrapper">
          <div class="footer-holder">


          </div>
        </div>
      </div>
    </div>


    <div id="footer_bottom">
      <div class="info">
        <div id="foot_left">&nbsp;			<div class="textwidget"><p>Copyright &copy; 2013 HomeFurniture & Co. All rights reserved.</p>
        </div>
        </div>
        <div id="foot_right"><div class="top-footer"><a href="#" class="link-top">top</a></div>

          <ul>
            <li><%= link_to 'Chi siamo', about_us_path %></li>
            <li><%= link_to 'Contatti', new_contact_path %></li>
          </ul>



        </div>
      </div>
    </div>


  </div><!-- end main -->
</div><!-- end wrapper -->
</div>

</body>
</html>